* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.headerMain {
    height: 140px;
    font-family: "Roboto-Regular";
    padding-top: 10px;
}

.headerTopRow,
.headerBottomRow,
.authorization {
    display: flex;
    justify-content: space-between;
}

.headerTopRow {
    height: 30px;
    font-size: 14px;
}

.region > select {
    border: none;
    border-bottom: 1px dotted rgb(70, 115, 171);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgb(70, 115, 171);
    cursor: pointer;
}

.authorization {
    width: 170px;
}

.authorization a,
.contacts .contactsMain a {
    color: rgb(70, 115, 171);
}

.authorization a:hover,
.contacts .callBack a:hover,
.contacts .contactsMain a:hover {
    color: rgb(16, 109, 223);
}

.logo:hover,
.cart .cartMain:hover {
    color: #ff5816;
    cursor: pointer;
}

.logo .name {
    font-size: 46px;
    height: 53px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.logo .name > div {
    display: inline-block;
    font-weight: bolder;
    color: #ff5816;
    text-align: center;
    line-height: 100%;
    padding: 0 3px;
    border-radius: 11px;
    background: url("../images/headerBg.jpg") rgb(54, 62, 72);
    background-size: cover;
    width: 75px;
    height: 46px;    
}

.logo .desc {
    min-width: 214px;
    font-size: 10px;
    color: rgb(129, 133, 136);
    text-transform: uppercase;
    padding: 5px 0; 
    letter-spacing: .8px;   
}

.contacts {
    display: flex; 
    justify-content: space-between;
    width: 315px;
    padding: 0 10px;
}

.contacts .callBack {
    width: 112px;
    height: 57px;
    background: url("../images/icons/headerCloud.png");
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 15px 0 0;
}

.contacts .callBack > a {
    color: rgb(70, 115, 171);
    text-decoration: none;
    border-bottom: 1px dotted;
}

.contacts .contactsMain {
    font-size: 14px;
}

.contacts .mainPhone {
    font-size: 22px;
    font-weight: 600;
}

.contacts .socialIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.contacts .socialIcon.wa {
    background-image: url("../images/icons/WhatsApp.png");
}

.contacts .socialIcon.viber {
    background-image: url("../images/icons/Viber.png");
}

.contacts .contactsMain span {
    vertical-align: top;
}

.search {
    position: relative;
}

.search p {
    padding-left: 30px;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.search p > span {
    color: #ff5816;
}

.search p::before {
    content: "";
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0;
    top: 10px;
    background-image: url("../images/icons/rub.png");
}

.search .searchContainer {
    position: relative;
}

.search input {
    outline: none;
    border: none;
}

.search input[type="text"] {
    background-color: rgb(239, 240, 244);
    height: 30px;
    width: 100%;
    border-radius: 4px;
    padding: 0 70px 0 10px;
}

.search input[type="button"] {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(255, 88, 22);
    height: 26px;
    width: 58px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.search input[type="button"]:hover,
.search input[type="button"]:focus {
    background-color: #4673ab;
    border-bottom: #284263 3px solid;
}

.cart {
    padding-top: 10px;
}

.cart .cartMain {
    position: relative;
    width: 196px;
    height: 52px;
    background: url("../images/headerBg.jpg") rgb(54, 62, 72);
    background-size: cover;
    border-radius: 8px;
    padding: 10px 57px;
    margin-bottom: 10px;
}

.cart .cartMain h3 {
    font-size: 13px;
}

.cart .cartMain p::before {
    content: "";
    height: 22px;
    width: 26px;
    position: absolute;
    left: 15px;
    top: 15px;
    background-image: url("../images/icons/cart.png");
}

.cart .cartButtons {
    display: flex;
    justify-content: space-between;
}

.cart .cartButtons > div {
    position: relative;
    padding-left: 20px;
    border-bottom: 1px dotted rgb(70, 115, 171);
}

.cart .cartButtons > div:hover {
    border-bottom: 1px solid rgb(70, 115, 171);
}

.cart .cartButtons a {
    text-decoration: none;
    color: #000;
}

.cart .cartButton {
    font-size: 12px;
}

.cart .cartButton > span {
    color:  rgb(70, 115, 171);
}

.cart .cartButton.favourite::before {
    content: "";
    height: 13px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 3px;
    background-image: url("../images/icons/favourite.png");
}

.cart .cartButton.comparison::before {
    content: "";
    height: 20px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/icons/comparison.png");
}
