* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.mainMenuBackground,
.navigation {
    background-color: black;
    font-family: "Roboto-Regular", sans-serif;
}

.mobileMenu {
    display: none;
}

.navigation > ul {
    font-size: 12px;
}

.navigation > ul {
    display: flex;
    list-style: none;
}

.navigation > ul > li {
    flex-basis: auto;
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-left: 1px dotted rgba(255,255,255,0.3);
}

.navigation ul li:nth-child(1) {
    border: 0;
}

.navigation > ul > li a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 100;
    transition-property: color;
    transition-duration: 0.5s;
}

.navigation > ul > li a:hover {
    color: #ff5816;
}

#firstDropdown,
#secondDropdown {
    position: relative;
}

#firstDropdown:after,
#secondDropdown:after {
    display: inline-block;
    position: relative;
    left: 5px;
    content: url("../images/icons/orangeTriangleForMenu.png");
    transition-duration: 0.2s;
}

#firstDropdown:hover:after,
#secondDropdown:hover:after {
    transform: rotate(180deg);
}

#firstDropdownContent,
#secondDropdownContent{
    background-color: black;
    position: absolute;
    display: none;
    top: 28px;
    text-align: center;
    min-width: 150px;
}

#firstDropdown:hover ~ #firstDropdownContent,
#firstDropdownContent:hover,
#secondDropdown:hover ~ #secondDropdownContent,
#secondDropdownContent:hover {
    display: flex;
    flex-direction: column;
}

#firstDropdownContent a,
#secondDropdownContent a{
    padding: 8px 10px;
    border-bottom: 1px dotted rgba(255,255,255,0.3);
}

#firstDropdownContent a:after,
#secondDropdownContent a:after {
    content: '';
}

#firstDropdownContent a:first-child,
#secondDropdownContent a:first-child {
    margin-top: 12px;
}

#firstDropdownContent a:last-child,
#secondDropdownContent a:last-child {
    border: 0;
}

.catalogMenu {
    margin-top: 22px;
    font-family: "Roboto-Regular", sans-serif;
}

.catalogMenu > ul {
    display: flex;
    list-style: none;
    border-radius: 10px;
    background-color: #ff5816;
    font-size: 11px;
    box-shadow: 0 2px 0 1px #c64411;
}

.catalogMenu > ul > li {
    padding: 10px 7px;
}

.catalogMenu > ul > li:hover {
    background-color: #ff743d;
    box-shadow: 0 2px 0 1px #ff743d;
}

.catalogMenu > ul > li > a {
    color: white;
    text-decoration: none;
}

.catalogMenu > ul > li:hover > a {
    text-decoration: underline;
}

.catalogMenu > ul > li:first-child,
.catalogMenu > ul > li:last-child{
    padding: 0;
}

.catalogMenu > ul > li:first-child:hover,
.catalogMenu > ul > li:last-child:hover{
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}

.catalogMenu > ul > li:first-child button {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.catalogMenu > ul > li:last-child button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.catalogMenuButton {
    height: 100%;
    width: 15px;
    background-color: #c64411;
    border: 0;
    outline: none;
}

.catalogMenuButton:active {
    outline: none;
    background-color: #ff5816;
}

.newsBlock {
    display: flex;
    margin-top: 20px;
}

.newsColumn {
    flex-basis: 12.5vw;
    flex-direction: column;
    margin-right: 30px;
}

.newsColumn h3 {
    color: #2c3333;
    margin-top: 14px;
    margin-bottom: 17px;
}

.newsColumnContainer {
    margin-top: 12px;
}

.newsColumnItem {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted gray;
}

.newsColumnItemImg {
    margin-right: 16px;
}

.newsColumnItemInfo {
    font-size: 14px;
    font-family: "Roboto-Regular", sans-serif;
}

.newsColumnItemInfo a {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #4673ab;
}

.newsColumnItemInfo a:hover {
    color: #ff5816;
    text-decoration: underline;
}

.newsColumn > a {
    color: #4673ab;
    display: block;
    margin-top: 12px;
}

.advertisingColumn {
    flex-grow: 7;
}

.newProductBlock,
.recommendProductBlock,
.discountProductBlock,
.stockBlock{
    margin-top: 20px;
    font-family: "Roboto-Regular", sans-serif;
}

.newProductHeader,
.recommendProductHeader,
.discountProductHeader,
.stockHeader{
    display: flex;
    flex-wrap: wrap;
}

.linkToAllMobile {
    display: none;
}

.newProductHeader hr,
.recommendProductHeader hr,
.discountProductHeader hr,
.stockHeader hr{
    flex-grow: 1;
    height: 1px;
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 13px;
}

.linkToAll,
.recommendProductHeader a,
.discountProductHeader a,
.stockHeader a{
    color: #4673ab;
    transition-property: color;
    transition-duration: 0.2s;
}

.newProductHeader a:hover,
.recommendProductHeader a:hover,
.discountProductHeader a:hover,
.stockHeader a:hover{
    color: #ff5816;
}

.mobileCarousel {
    display: none;
}

.newProductItemsBlock,
.recommendProductItemsBlock,
.discountProductItemsBlock,
.stockItemsBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.newProductItemsBlock > button,
.recommendProductItemsBlock > button,
.discountProductItemsBlock > button,
.stockItemsBlock > button{
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: none;
    cursor: pointer;
    height: 44px;
    margin: auto 0;
}

.newProductItem,
.recommendProductItem,
.discountProductItem {
    max-width: 250px;
    min-width: 160px;
    border: 1px solid #dbdee6;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    transition-property: border-color;
    transition-duration: 0.2s;
}

.newProductItem:hover,
.recommendProductItem:hover,
.discountProductItem:hover {
    border-color: #ff5816;
}

.newProductItemImg,
.recommendProductItemImg,
.discountProductItemImg {
    height: 180px;
}

.newProductItemImg img,
.recommendProductItemImg img,
.discountProductItemImg img{
    display: block;
    margin: auto;
}

.newProductItem a,
.recommendProductItem a,
.discountProductItem a{
    display: block;
    color: #4673ab;
    transition-property: color;
    transition-duration: 0.2s;
}

.newProductItem a:hover,
.recommendProductItem a:hover,
.discountProductItem a:hover{
    color: #ff5816;

}

.newProductItemPriceBlock,
.recommendProductItemPriceBlock,
.discountProductItemPriceBlock {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
}

.price {
    font-size: 18px;
    font-family: "Roboto Bold", sans-serif;
}

.oldPrice {
    color: #ff5816;
    text-decoration: line-through;
}

.newProductItemBuyLine,
.recommendProductItemBuyLine,
.discountProductItemBuyLine {
    margin-top: 15px;
    display: flex;
}

.newProductItemBuyButton,
.recommendProductItemBuyButton,
.discountProductItemBuyButton {
    display: flex;
    background-color: #ff5816;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 4px 0 0 #c64411;
    transition-property: box-shadow, background-color;
    transition-duration: 0.2s;
}

.newProductItemBuyButton:active,
.recommendProductItemBuyButton:active,
.discountProductItemBuyButton:active {
    background-color: #4673ab;
    box-shadow: 0 4px 0 0 #365884;
}

.newProductItemBuyButton img,
.recommendProductItemBuyButton img,
.discountProductItemBuyButton img {
    margin-right: 10px;
    margin-top: 5px;
}

.newProductItemBuyLine a,
.recommendProductItemBuyLine a,
.discountProductItemBuyLine a{
    padding-top: 16px;
    padding-left: 15px;
}

.newProductItem:before,
.recommendProductItem:before,
.discountProductItem:before {
    position: absolute;
    top: -1px;
}

.newProductItem:before {
    content: url("../images/icons/new.png");
}

.recommendProductItem:before {
    content: url("../images/icons/recommend.png");
}

.discountProductItem:before {
    content: url("../images/icons/discount.png");
}

.stockItem {
    max-width: 230px;
    min-width: 160px;
    border: 1px solid #dbdee6;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    transition-property: border-color;
    transition-duration: 0.2s;
}

.stockItem a {
    display: block;
    color: #4673ab;
    transition-property: color;
    transition-duration: 0.2s;
}

.stockItem a:first-child {
    margin: 20px 0 13px 15px;
    font-size: 18px;
    font-family: "Roboto Bold", sans-serif;
}

.stockItem img{
    width: 100%;
}

.stockItem > p {
    margin: 15px;
}

.stockItemValidityBlock {
    display: flex;
    background-color: #dbdee6;
    padding: 16px 10px 10px 15px;
    min-height: 76px;
}

.stockItemValidityBlock > p {
    display: block;
    min-width: 70px;
    max-width: 80px;
}

.timer {
    margin-top: 8px;
    display: flex;
    text-align: center;
    color: #989da0;
}

.timer p {
    font-size: 13px;
    margin-top: 5px;
}

.timer > p {
    margin-top: 0;
    font-size: 22px;
    color: #337500;
}

.days > span,
.hours > span,
.minutes > span {
    background-color: #262626;
    padding: 5px 3px;
    color: #dbdee6;
    font-size: 18px;
}

.timerColon {
    font-size: 18px;
    font-family: "Roboto Bold", sans-serif;
}

.detailsLink {
    text-align: center;
    font-size: 16px;
}

.detailsLink a {
    font-size: 12px;
}

footer {
    font-family: "Roboto-Regular", sans-serif;
    margin-top: 20px;
}

footer p,
.upperFooterSecondColumn a,
.upperFooterThirdColumn a{
    color: #b2c1cb;
}

.upperFooter {
    background-color: #5c7489;
}

.upperFooterBlock {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.upperFooterFirstColumn p:nth-child(2) {
    margin-top: 30px;
}

.upperFooterFirstColumn p:nth-child(4) {
    margin-top: 30px;
    margin-bottom: 30px;
}

.upperFooterSecondColumn {
    line-height: 20px;
}

.upperFooterThirdColumn {
    display: flex;
    flex-direction: column;
}

.upperFooterThirdColumn a:not(:first-child) {
    margin-top: 10px;
}

.upperFooterThirdColumn a:last-child,
.upperFooterFourthColumn > a{
    text-align: center;
    display: block;
    background-image: url("../images/icons/callbackFooter.png");
    padding-top: 10px;
    padding-right: 15px;
    width: 112px;
    height: 57px;
    color: #84a2c7;
    text-decoration: underline dotted;
}

.upperFooterThirdColumn a:last-child {
    display: none;
}

.upperFooterFourthColumn,
.upperFooterFourthColumnViberLinks{
    display: flex;
}

.upperFooterFourthColumn,
.upperFooterFourthColumn p {
    color: white;
}

.upperFooterFourthColumn h3 {
    font-weight: 500;
    letter-spacing: 2px;
}

.upperFooterFourthColumnViberLinks img {
    margin-right: 3px;
}

.upperFooterFourthColumnViberLinks p {
    margin-left: 8px;
}

#emailAddress {
    color: white;
}

.socialLinks {
    margin-top: 43px;
}

.socialLinks a {
    text-decoration: none;
}

.lowerFooter {
    background-color: #2c3f53;
}

.lowerFooterContent {
    display: flex;
    padding-top: 30px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.lowerFooterContent p {
    font-size: 11px;
}

.lowerFooterContent img {
    width: 88px;
    height: 31px;
}

.mobileFooter {
    display: none;
}