@media all and (max-width: 1140px) {
    .contacts {
        flex-grow: 2;
    }

    .search {
        display: none;
    }

    .searchMobile {
        display: flex;
    }

    .linkToAll {
        display: none;
    }

    .linkToAllMobile {
        display: block;
        margin-top: 5px;
        margin-left: 20px;
    }

    .mobileCarousel {
        display: block;
    }

    .mobileCarousel button {
        background-color: rgba(0,0,0,0);
        border: 1px solid #dbdee6;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .keyBrandItem:nth-child(n+8) {
        display: none;
    }
}

@media all and (max-width: 980px) {
    .contacts .contactsMain {
        text-align: right;
        padding-left: 5px;
    }

    .advertisingColumn .advertising {
        font-size: 12px;
    }

    .popularProductItem:nth-child(4) {
        display: none;
    }

    .keyBrandItem:nth-child(n+6) {
        display: none;
    }

    .reasonItem {
        min-width: 350px;
    }

    .numberHeader hr {
        margin-right: 15px;
    }

    .numberItem:nth-child(n+5) {
        display: none;
    }
}

@media all and (max-width: 750px) {
    .advertisingColumn,
    .popularProductBlock,
    .keyBrandBlock,
    .advantageBlock,
    .reasonBlock,
    .numberBlock {
        display: none;
    }
}