@media all and (max-width: 1140px) {
    .contacts {
        flex-grow: 2;
    }

    .search {
        display: none;
    }

    .searchMobile {
        display: flex;
    }

    .linkToAll {
        display: none;
    }

    .linkToAllMobile {
        display: block;
        margin-top: 5px;
        margin-left: 20px;
    }

    .mobileCarousel {
        display: block;
    }

    .mobileCarousel button {
        background-color: rgba(0,0,0,0);
        border: 1px solid #dbdee6;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .keyBrandItem:nth-child(n+8) {
        display: none;
    }
}

@media all and (max-width: 980px) {
    .contacts .contactsMain {
        text-align: right;
        padding-left: 5px;
    }

    .advertisingColumn .advertising {
        font-size: 12px;
    }

    .popularProductItem:nth-child(4) {
        display: none;
    }

    .keyBrandItem:nth-child(n+6) {
        display: none;
    }

    .reasonItem {
        min-width: 350px;
    }

    .numberHeader hr {
        margin-right: 15px;
    }

    .numberItem:nth-child(n+5) {
        display: none;
    }
}

@media all and (max-width: 750px) {
    .headerMain .authorization > a:nth-child(1),
    .logo .desc,
    .contacts,
    .cart,
    .advertisingColumn,
    .popularProductBlock,
    .keyBrandBlock,
    .advantageBlock,
    .reasonBlock,
    .numberBlock {
        display: none;
    }

    .headerMain .authorization {
        min-width: 10px;
    }
    .logo {
        flex-grow: 3;
    }

    .logo .name {
        font-size: 32px;
        height: 33px;
    }

    .logo .name > div {
        width: 52px;
        height: 33px;
    }

    .contactsMobile,
    .cartMobile {
        display: flex;
    }

    .mainPhone {
        font-size: 17px;
    }

    .searchMobile {
        width: 40px;
    }

    .contactsMobile span,
    .contactsMobile a,
    .headerTopRow {
        font-size: 13px;
    }

    .workItem.workPhone,
    .workItem.workApprove,
    .workItem.workShipping,
    .workItem.workPayment {
        width: 40%;
        min-width: 125px;
        padding: 50px 20px 30px;
    }

    .workItem.workPhone::before,
    .workItem.workApprove::before,
    .workItem.workShipping::before,
    .workItem.workPayment::before {
        left: 40%;
    }

    .workItem.workArrow {
        width: 10%;
    }

    .workItem.workArrow:nth-child(4) {
        display: none;
    }

    .workTabs,
    .workContent {
        flex-wrap: wrap;
    }

    .workTab {
        font-size: 12px;
        padding: 10px;
        margin-bottom: 10px;
    }
}